# Data Preparation

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Insert, change the directory 
import sys
sys.path.insert(0,'/content/drive/MyDrive/graph-based-fraud-detection-main')
%cd /content/drive/MyDrive/graph-based-fraud-detection-main

/content/drive/MyDrive/graph-based-fraud-detection-main

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# pd.read_csv('./ieee-data/test_transaction.csv')

In [ ]:
transaction_df = pd.read_csv('./ieee-data/train_transaction.csv')
identity_df = pd.read_csv('./ieee-data/train_identity.csv')
# test_transaction = pd.read_csv('./ieee-data/test_transaction.csv')
# test_identity = pd.read_csv('./ieee-data/test_identity.csv')
transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Columns: 394 entries, TransactionID to V339
dtypes: float64(384), int64(4), object(6)
memory usage: 150.3+ MB

In [ ]:
identity_df

In [ ]:
transaction_df

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,3376672,0,9766193,34.742,C,11201,103.0,185.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3535390,0,14487694,22.993,C,1164,545.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3041260,0,1275065,100.000,R,5409,170.0,150.0,visa,226.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3492547,0,13228103,15.985,C,4461,375.0,185.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3310396,0,8015461,20.000,S,8937,399.0,150.0,american express,150.0,...,0.0,0.0,140.0,0.0,0.0,90.0,0.0,0.0,50.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,3316436,1,8107600,36.856,C,14276,177.0,185.0,mastercard,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49996,3391195,1,10196368,67.067,C,9642,103.0,185.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49997,3395166,1,10308769,109.965,C,11805,545.0,185.0,visa,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49998,3369564,1,9580785,13.655,C,9633,130.0,185.0,visa,138.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49999,3440410,1,11576930,6.578,C,3154,408.0,185.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
id_cols = ['card1','card2','card3','card4','card5','card6','ProductCD','addr1','addr2','P_emaildomain','R_emaildomain']
cat_cols = ['M1','M2','M3','M4','M5','M6','M7','M8','M9']
train_data_ratio = 0.8

In [ ]:
#shuffle the dataframe if required
transaction_df = transaction_df.sample(frac=1)

In [ ]:
transaction_df.shape

(50000, 394)

Based on the train/test ratio we assigned before, extact the IDs of test data.

In [ ]:
n_train = int(transaction_df.shape[0]*train_data_ratio)
test_ids = transaction_df.TransactionID.values[n_train:]

In [ ]:
get_fraud_frac = lambda series: 100 * sum(series)/len(series)
print("Percent fraud for train transactions: {}".format(get_fraud_frac(transaction_df.isFraud[:n_train])))
print("Percent fraud for test transactions: {}".format(get_fraud_frac(transaction_df.isFraud[n_train:])))
print("Percent fraud for all transactions: {}".format(get_fraud_frac(transaction_df.isFraud)))

Percent fraud for train transactions: 3.0
Percent fraud for test transactions: 3.0
Percent fraud for all transactions: 3.0

 Save test IDs into the `test.csv` file

In [ ]:
with open('data/test.csv', 'w') as f:
    f.writelines(map(lambda x: str(x) + "\n", test_ids))

Based on the standard we talked about before, define non-feature-columns and feature-columns for creating graph.

In [ ]:
non_feature_cols = ['isFraud', 'TransactionDT'] + id_cols
print(non_feature_cols)

['isFraud', 'TransactionDT', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'ProductCD', 'addr1', 'addr2', 'P_emaildomain', 'R_emaildomain']

In [ ]:
feature_cols = [col for col in transaction_df.columns if col not in non_feature_cols]
print(feature_cols)

['TransactionID', 'TransactionAmt', 'dist1', 'dist2', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339']

Transfer categorical features to be dummy variables and scale the `TransactionAmt` feature by log10.

In [ ]:
features = pd.get_dummies(transaction_df[feature_cols], columns=cat_cols).fillna(0)
features['TransactionAmt'] = features['TransactionAmt'].apply(np.log10)

In [ ]:
features.shape
# their result - (590540, 391)
# mine - (590540, 391)

(50000, 375)

In [ ]:
print(list(features.columns))

['TransactionID', 'TransactionAmt', 'dist1', 'dist2', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339', 'M4_M0', 'M4_M1', 'M4_M2']

Save the features into `features.csv` for future training. 

p.s. We don't need the index column and header.

In [ ]:
features.to_csv('data/features.csv', index=False, header=False)

Save the IDs and label into the `tags.csv`.

In [ ]:
transaction_df[['TransactionID', 'isFraud']].to_csv('data/tags.csv', index=False)

Select the columns that define the edges.

In [ ]:
edge_types = id_cols + list(identity_df.columns)
print(edge_types)

['card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'ProductCD', 'addr1', 'addr2', 'P_emaildomain', 'R_emaildomain', 'TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_07', 'id_08', 'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType', 'DeviceInfo']

In [ ]:
all_id_cols = ['TransactionID'] + id_cols
full_identity_df = transaction_df[all_id_cols].merge(identity_df, on='TransactionID', how='left')
full_identity_df.head(5)

,TransactionID,card1,card2,card3,card4,card5,card6,ProductCD,addr1,addr2,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,3090845,18132,567.0,150.0,mastercard,117.0,debit,R,204.0,87.0,...,mobile safari 11.0,32.0,2436x1125,match_status:1,T,F,F,F,mobile,iOS Device
1,2999937,3154,408.0,185.0,mastercard,224.0,debit,C,NaN,NaN,...,chrome 62.0 for android,NaN,NaN,NaN,F,F,T,T,mobile,SM-G925I Build/LMY47X
2,3272490,6108,378.0,146.0,mastercard,219.0,debit,C,NaN,NaN,...,chrome 63.0,NaN,NaN,NaN,F,F,T,F,desktop,Windows
3,3069882,3148,111.0,150.0,visa,226.0,debit,S,476.0,87.0,...,ie 11.0 for desktop,24.0,1280x1024,match_status:2,T,T,T,T,desktop,Trident/7.0
4,3266459,10023,111.0,150.0,visa,226.0,debit,H,441.0,87.0,...,mobile safari generic,32.0,2436x1125,match_status:1,T,F,F,T,mobile,iOS Device

For each identity feature, save the data into the corresponding `relation_{FEATURE NAME}_edgelist.csv`. Each csv file represents one kind of edge.

In [ ]:
edges = {}
for etype in edge_types:
    edgelist = full_identity_df[['TransactionID', etype]].dropna()
    edgelist.to_csv('data/relation_{}_edgelist.csv'.format(etype), index=False, header=True)
    edges[etype] = edgelist

print(edges)

{'card1':        TransactionID  card1
0            3090845  18132
1            2999937   3154
2            3272490   6108
3            3069882   3148
4            3266459  10023
...              ...    ...
49995        3159000   2650
49996        3039694  14749
49997        3479103  14128
49998        3438307   3154
49999        3082481   2755

[50000 rows x 2 columns], 'card2':        TransactionID  card2
0            3090845  567.0
1            2999937  408.0
2            3272490  378.0
3            3069882  111.0
4            3266459  111.0
...              ...    ...
49995        3159000  142.0
49996        3039694  555.0
49997        3479103  170.0
49998        3438307  408.0
49999        3082481  404.0

[49728 rows x 2 columns], 'card3':        TransactionID  card3
0            3090845  150.0
1            2999937  185.0
2            3272490  146.0
3            3069882  150.0
4            3266459  150.0
...              ...    ...
49995        3159000  185.0
49996        3039694  150.0
49997        3479103  150.0
49998        3438307  185.0
49999        3082481  150.0

[49930 rows x 2 columns], 'card4':        TransactionID       card4
0            3090845  mastercard
1            2999937  mastercard
2            3272490  mastercard
3            3069882        visa
4            3266459        visa
...              ...         ...
49995        3159000  mastercard
49996        3039694        visa
49997        3479103  mastercard
49998        3438307  mastercard
49999        3082481  mastercard

[49925 rows x 2 columns], 'card5':        TransactionID  card5
0            3090845  117.0
1            2999937  224.0
2            3272490  219.0
3            3069882  226.0
4            3266459  226.0
...              ...    ...
49995        3159000  224.0
49996        3039694  226.0
49997        3479103  219.0
49998        3438307  224.0
49999        3082481  102.0

[49655 rows x 2 columns], 'card6':        TransactionID   card6
0            3090845   debit
1            2999937   debit
2            3272490   debit
3            3069882   debit
4            3266459   debit
...              ...     ...
49995        3159000   debit
49996        3039694   debit
49997        3479103  credit
49998        3438307   debit
49999        3082481  credit

[49928 rows x 2 columns], 'ProductCD':        TransactionID ProductCD
0            3090845         R
1            2999937         C
2            3272490         C
3            3069882         S
4            3266459         H
...              ...       ...
49995        3159000         C
49996        3039694         S
49997        3479103         R
49998        3438307         C
49999        3082481         R

[50000 rows x 2 columns], 'addr1':        TransactionID  addr1
0            3090845  204.0
3            3069882  476.0
4            3266459  441.0
6            3037723  225.0
8            3029458  330.0
...              ...    ...
49993        3155023  299.0
49994        3525050  251.0
49996        3039694  448.0
49997        3479103  299.0
49999        3082481  299.0

[29489 rows x 2 columns], 'addr2':        TransactionID  addr2
0            3090845   87.0
3            3069882   87.0
4            3266459   87.0
6            3037723   87.0
8            3029458   87.0
...              ...    ...
49993        3155023   87.0
49994        3525050   87.0
49996        3039694   87.0
49997        3479103   87.0
49999        3082481   87.0

[29489 rows x 2 columns], 'P_emaildomain':        TransactionID P_emaildomain
0            3090845     gmail.com
1            2999937   hotmail.com
2            3272490   hotmail.com
4            3266459     yahoo.com
5            3230443     gmail.com
...              ...           ...
49994        3525050     gmail.com
49995        3159000     gmail.com
49997        3479103     gmail.com
49998        3438307   hotmail.com
49999        3082481       aol.com

[45323 rows x 2 columns], 'R_emaildomain':        TransactionID R_emaildomain
0            3090845     gmail.com
1            2999937   hotmail.com
2            3272490   hotmail.com
3            3069882     gmail.com
4            3266459     gmail.com
...              ...           ...
49995        3159000     gmail.com
49996        3039694     gmail.com
49997        3479103     gmail.com
49998        3438307   hotmail.com
49999        3082481       aol.com

[45303 rows x 2 columns], 'TransactionID':        TransactionID  TransactionID
0            3090845        3090845
1            2999937        2999937
2            3272490        3272490
3            3069882        3069882
4            3266459        3266459
...              ...            ...
49995        3159000        3159000
49996        3039694        3039694
49997        3479103        3479103
49998        3438307        3438307
49999        3082481        3082481

[50000 rows x 2 columns], 'id_01':        TransactionID  id_01
0            3090845   -5.0
1            2999937    0.0
2            3272490  -10.0
3            3069882    0.0
4            3266459   -5.0
...              ...    ...
49995        3159000   -5.0
49996        3039694    0.0
49997        3479103  -30.0
49998        3438307  -20.0
49999        3082481   -5.0

[50000 rows x 2 columns], 'id_02':        TransactionID     id_02
0            3090845  114674.0
1            2999937  265543.0
2            3272490  150038.0
3            3069882   56835.0
4            3266459   62780.0
...              ...       ...
49995        3159000  178531.0
49996        3039694   14589.0
49997        3479103  265619.0
49998        3438307  709425.0
49999        3082481   75926.0

[48820 rows x 2 columns], 'id_03':        TransactionID  id_03
1            2999937    0.0
3            3069882    0.0
7            3302498    0.0
9            3078589    0.0
13           3428435    0.0
...              ...    ...
49991        3059670    0.0
49992        3012237    0.0
49994        3525050    0.0
49997        3479103    0.0
49998        3438307    0.0

[22330 rows x 2 columns], 'id_04':        TransactionID  id_04
1            2999937    0.0
3            3069882    0.0
7            3302498    0.0
9            3078589    0.0
13           3428435    0.0
...              ...    ...
49991        3059670    0.0
49992        3012237    0.0
49994        3525050    0.0
49997        3479103    0.0
49998        3438307    0.0

[22330 rows x 2 columns], 'id_05':        TransactionID  id_05
0            3090845    0.0
1            2999937    4.0
2            3272490    0.0
3            3069882   26.0
4            3266459   25.0
...              ...    ...
49995        3159000    0.0
49996        3039694    0.0
49997        3479103    0.0
49998        3438307    0.0
49999        3082481    0.0

[47411 rows x 2 columns], 'id_06':        TransactionID  id_06
0            3090845    0.0
1            2999937  -21.0
2            3272490    0.0
3            3069882 -100.0
4            3266459  -39.0
...              ...    ...
49995        3159000    0.0
49996        3039694    0.0
49997        3479103    0.0
49998        3438307    0.0
49999        3082481    0.0

[47411 rows x 2 columns], 'id_07':        TransactionID  id_07
41           3575241   35.0
64           3516136    8.0
130          3194654   12.0
146          3352463   16.0
225          3167114  -23.0
...              ...    ...
49903        3128473   12.0
49961        3264272    3.0
49963        3397784    0.0
49966        3006521   21.0
49997        3479103    6.0

[1773 rows x 2 columns], 'id_08':        TransactionID  id_08
41           3575241  -36.0
64           3516136  -29.0
130          3194654  -64.0
146          3352463  -19.0
225          3167114 -100.0
...              ...    ...
49903        3128473  -34.0
49961        3264272  -13.0
49963        3397784 -100.0
49966        3006521  -15.0
49997        3479103  -47.0

[1773 rows x 2 columns], 'id_09':        TransactionID  id_09
1            2999937    0.0
3            3069882    0.0
7            3302498    0.0
9            3078589    0.0
13           3428435    0.0
...              ...    ...
49993        3155023    0.0
49994        3525050    0.0
49997        3479103    1.0
49998        3438307    0.0
49999        3082481    0.0

[25334 rows x 2 columns], 'id_10':        TransactionID  id_10
1            2999937    0.0
3            3069882  -13.0
7            3302498    0.0
9            3078589    0.0
13           3428435    0.0
...              ...    ...
49993        3155023    0.0
49994        3525050    0.0
49997        3479103   -5.0
49998        3438307    0.0
49999        3082481    0.0

[25334 rows x 2 columns], 'id_11':        TransactionID       id_11
0            3090845  100.000000
1            2999937  100.000000
2            3272490  100.000000
3            3069882  100.000000
4            3266459  100.000000
...              ...         ...
49995        3159000  100.000000
49996        3039694  100.000000
49997        3479103  100.000000
49998        3438307  100.000000
49999        3082481   94.370003

[48850 rows x 2 columns], 'id_12':        TransactionID     id_12
0            3090845  NotFound
1            2999937  NotFound
2            3272490  NotFound
3            3069882     Found
4            3266459  NotFound
...              ...       ...
49995        3159000  NotFound
49996        3039694     Found
49997        3479103     Found
49998        3438307  NotFound
49999        3082481  NotFound

[50000 rows x 2 columns], 'id_13':        TransactionID  id_13
0            3090845   49.0
2            3272490   52.0
4            3266459   33.0
5            3230443   49.0
6            3037723   14.0
...              ...    ...
49995        3159000   52.0
49996        3039694   41.0
49997        3479103   52.0
49998        3438307   64.0
49999        3082481   52.0

[43938 rows x 2 columns], 'id_14':        TransactionID  id_14
0            3090845 -300.0
3            3069882 -300.0
4            3266459 -300.0
8            3029458 -300.0
9            3078589 -480.0
...              ...    ...
49993        3155023 -480.0
49994        3525050 -360.0
49996        3039694 -300.0
49997        3479103 -480.0
49999        3082481 -480.0

[28208 rows x 2 columns], 'id_15':        TransactionID  id_15
0            3090845    New
1            2999937  Found
2            3272490    New
3            3069882  Found
4            3266459    New
...              ...    ...
49995        3159000    New
49996        3039694    New
49997        3479103  Found
49998        3438307  Found
49999        3082481    New

[48852 rows x 2 columns], 'id_16':        TransactionID     id_16
0            3090845  NotFound
1            2999937     Found
2            3272490  NotFound
3            3069882     Found
4            3266459  NotFound
...              ...       ...
49995        3159000  NotFound
49996        3039694  NotFound
49997        3479103     Found
49998        3438307     Found
49999        3082481  NotFound

[44734 rows x 2 columns], 'id_17':        TransactionID  id_17
0            3090845  166.0
1            2999937  225.0
2            3272490  225.0
3            3069882  166.0
4            3266459  166.0
...              ...    ...
49995        3159000  225.0
49996        3039694  166.0
49997        3479103  166.0
49998        3438307  225.0
49999        3082481  166.0

[48318 rows x 2 columns], 'id_18':        TransactionID  id_18
3            3069882   15.0
4            3266459   15.0
9            3078589   13.0
12           3454385   15.0
13           3428435   15.0
...              ...    ...
49984        3042292   15.0
49985        3021895   15.0
49987        3059216   15.0
49991        3059670   13.0
49992        3012237   13.0

[15514 rows x 2 columns], 'id_19':        TransactionID  id_19
0            3090845  454.0
1            2999937  345.0
2            3272490  266.0
3            3069882  410.0
4            3266459  321.0
...              ...    ...
49995        3159000  427.0
49996        3039694  542.0
49997        3479103  627.0
49998        3438307  427.0
49999        3082481  621.0

[48306 rows x 2 columns], 'id_20':        TransactionID  id_20
0            3090845  600.0
1            2999937  507.0
2            3272490  507.0
3            3069882  278.0
4            3266459  597.0
...              ...    ...
49995        3159000  610.0
49996        3039694  391.0
49997        3479103  222.0
49998        3438307  325.0
49999        3082481  222.0

[48282 rows x 2 columns], 'id_21':        TransactionID  id_21
41           3575241  252.0
64           3516136  252.0
130          3194654  252.0
146          3352463  440.0
225          3167114  142.0
...              ...    ...
49903        3128473  252.0
49961        3264272  327.0
49963        3397784  762.0
49966        3006521  755.0
49997        3479103  499.0

[1774 rows x 2 columns], 'id_22':        TransactionID  id_22
41           3575241   14.0
64           3516136   14.0
130          3194654   14.0
146          3352463   41.0
225          3167114   24.0
...              ...    ...
49903        3128473   14.0
49961        3264272   14.0
49963        3397784   14.0
49966        3006521   14.0
49997        3479103   14.0

[1778 rows x 2 columns], 'id_23':        TransactionID                 id_23
41           3575241  IP_PROXY:TRANSPARENT
64           3516136  IP_PROXY:TRANSPARENT
130          3194654  IP_PROXY:TRANSPARENT
146          3352463    IP_PROXY:ANONYMOUS
225          3167114    IP_PROXY:ANONYMOUS
...              ...                   ...
49903        3128473  IP_PROXY:TRANSPARENT
49961        3264272       IP_PROXY:HIDDEN
49963        3397784    IP_PROXY:ANONYMOUS
49966        3006521    IP_PROXY:ANONYMOUS
49997        3479103  IP_PROXY:TRANSPARENT

[1778 rows x 2 columns], 'id_24':        TransactionID  id_24
41           3575241   11.0
64           3516136   11.0
130          3194654   11.0
225          3167114   15.0
289          3061464   11.0
...              ...    ...
49903        3128473   11.0
49961        3264272   15.0
49963        3397784   11.0
49966        3006521   11.0
49997        3479103   11.0

[1630 rows x 2 columns], 'id_25':        TransactionID  id_25
41           3575241  321.0
64           3516136  321.0
130          3194654  321.0
146          3352463  511.0
225          3167114  148.0
...              ...    ...
49878        3101009  321.0
49903        3128473  321.0
49961        3264272  205.0
49966        3006521  509.0
49997        3479103  217.0

[1764 rows x 2 columns], 'id_26':        TransactionID  id_26
41           3575241  161.0
64           3516136  184.0
130          3194654  161.0
146          3352463  150.0
225          3167114  189.0
...              ...    ...
49903        3128473  184.0
49961        3264272  117.0
49963        3397784  161.0
49966        3006521  119.0
49997        3479103  107.0

[1776 rows x 2 columns], 'id_27':        TransactionID  id_27
41           3575241  Found
64           3516136  Found
130          3194654  Found
146          3352463  Found
225          3167114  Found
...              ...    ...
49903        3128473  Found
49961        3264272  Found
49963        3397784  Found
49966        3006521  Found
49997        3479103  Found

[1778 rows x 2 columns], 'id_28':        TransactionID  id_28
0            3090845    New
1            2999937  Found
2            3272490    New
3            3069882  Found
4            3266459    New
...              ...    ...
49995        3159000    New
49996        3039694    New
49997        3479103  Found
49998        3438307  Found
49999        3082481  Found

[48850 rows x 2 columns], 'id_29':        TransactionID     id_29
0            3090845  NotFound
1            2999937     Found
2            3272490  NotFound
3            3069882     Found
4            3266459  NotFound
...              ...       ...
49995        3159000  NotFound
49996        3039694  NotFound
49997        3479103     Found
49998        3438307     Found
49999        3082481     Found

[48850 rows x 2 columns], 'id_30':        TransactionID             id_30
0            3090845        iOS 11.2.1
3            3069882         Windows 7
4            3266459        iOS 11.2.5
8            3029458        iOS 11.1.2
9            3078589        iOS 11.1.2
...              ...               ...
49993        3155023  Mac OS X 10_10_5
49994        3525050  Mac OS X 10_12_6
49996        3039694        iOS 11.2.0
49997        3479103         Windows 7
49999        3082481         Windows 7

[27320 rows x 2 columns], 'id_31':        TransactionID                    id_31
0            3090845       mobile safari 11.0
1            2999937  chrome 62.0 for android
2            3272490              chrome 63.0
3            3069882      ie 11.0 for desktop
4            3266459    mobile safari generic
...              ...                      ...
49995        3159000              chrome 63.0
49996        3039694       mobile safari 11.0
49997        3479103           chrome generic
49998        3438307  chrome 65.0 for android
49999        3082481      ie 11.0 for desktop

[48601 rows x 2 columns], 'id_32':        TransactionID  id_32
0            3090845   32.0
3            3069882   24.0
4            3266459   32.0
8            3029458   32.0
9            3078589   32.0
...              ...    ...
49993        3155023   24.0
49994        3525050   24.0
49996        3039694   32.0
49997        3479103   24.0
49999        3082481   24.0

[27325 rows x 2 columns], 'id_33':        TransactionID      id_33
0            3090845  2436x1125
3            3069882  1280x1024
4            3266459  2436x1125
8            3029458  2436x1125
9            3078589  2208x1242
...              ...        ...
49993        3155023   1440x900
49994        3525050  1920x1080
49996        3039694  2208x1242
49997        3479103  1920x1080
49999        3082481   1360x768

[25787 rows x 2 columns], 'id_34':        TransactionID           id_34
0            3090845  match_status:1
3            3069882  match_status:2
4            3266459  match_status:1
8            3029458  match_status:1
9            3078589  match_status:2
...              ...             ...
49993        3155023  match_status:2
49994        3525050  match_status:2
49996        3039694  match_status:1
49997        3479103  match_status:2
49999        3082481  match_status:2

[27364 rows x 2 columns], 'id_35':        TransactionID id_35
0            3090845     T
1            2999937     F
2            3272490     F
3            3069882     T
4            3266459     T
...              ...   ...
49995        3159000     F
49996        3039694     T
49997        3479103     T
49998        3438307     F
49999        3082481     T

[48852 rows x 2 columns], 'id_36':        TransactionID id_36
0            3090845     F
1            2999937     F
2            3272490     F
3            3069882     T
4            3266459     F
...              ...   ...
49995        3159000     F
49996        3039694     F
49997        3479103     F
49998        3438307     F
49999        3082481     F

[48852 rows x 2 columns], 'id_37':        TransactionID id_37
0            3090845     F
1            2999937     T
2            3272490     T
3            3069882     T
4            3266459     F
...              ...   ...
49995        3159000     T
49996        3039694     T
49997        3479103     T
49998        3438307     T
49999        3082481     T

[48852 rows x 2 columns], 'id_38':        TransactionID id_38
0            3090845     F
1            2999937     T
2            3272490     F
3            3069882     T
4            3266459     T
...              ...   ...
49995        3159000     F
49996        3039694     T
49997        3479103     F
49998        3438307     F
49999        3082481     T

[48852 rows x 2 columns], 'DeviceType':        TransactionID DeviceType
0            3090845     mobile
1            2999937     mobile
2            3272490    desktop

Let's re-check the edges we defined.

In [ ]:
import glob

file_list = glob.glob('./data/*edgelist.csv')

edges = ",".join(map(lambda x: x.split("/")[-1], [file for file in file_list if "relation" in file]))

edges_full = ''
for etype in edge_types:
    edges_full += ',data/relation_{}_edgelist.csv'.format(etype)

In [ ]:
edges

'relation_card1_edgelist.csv,relation_card2_edgelist.csv,relation_card3_edgelist.csv,relation_card4_edgelist.csv,relation_card5_edgelist.csv,relation_card6_edgelist.csv,relation_ProductCD_edgelist.csv,relation_addr1_edgelist.csv,relation_addr2_edgelist.csv,relation_P_emaildomain_edgelist.csv,relation_R_emaildomain_edgelist.csv,relation_TransactionID_edgelist.csv,relation_id_01_edgelist.csv,relation_id_02_edgelist.csv,relation_id_03_edgelist.csv,relation_id_04_edgelist.csv,relation_id_05_edgelist.csv,relation_id_06_edgelist.csv,relation_id_07_edgelist.csv,relation_id_08_edgelist.csv,relation_id_09_edgelist.csv,relation_id_10_edgelist.csv,relation_id_11_edgelist.csv,relation_id_12_edgelist.csv,relation_id_13_edgelist.csv,relation_id_14_edgelist.csv,relation_id_15_edgelist.csv,relation_id_16_edgelist.csv,relation_id_17_edgelist.csv,relation_id_18_edgelist.csv,relation_id_19_edgelist.csv,relation_id_20_edgelist.csv,relation_id_21_edgelist.csv,relation_id_22_edgelist.csv,relation_id_23_edgelist.csv,relation_id_24_edgelist.csv,relation_id_25_edgelist.csv,relation_id_26_edgelist.csv,relation_id_27_edgelist.csv,relation_id_28_edgelist.csv,relation_id_29_edgelist.csv,relation_id_30_edgelist.csv,relation_id_31_edgelist.csv,relation_id_32_edgelist.csv,relation_id_33_edgelist.csv,relation_id_34_edgelist.csv,relation_id_35_edgelist.csv,relation_id_36_edgelist.csv,relation_id_37_edgelist.csv,relation_id_38_edgelist.csv,relation_DeviceType_edgelist.csv,relation_DeviceInfo_edgelist.csv'